//-
  Add title
  Show cards in col-md-6 thing (.card{i, h3, cite})
  add floating button bottom right, on click modal <button type="button" class="btn btn-lg btn-primary btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
