//-
  Bootstrap Modal to add a new verse to my list
  Selectors
    language (given, can be changed)
    version  (given, can be changed)
    book
    chapter
    verse
    OR search by code
    bg-color
    text-color
    font
  preview
  Cancel, Save
