//-
  show my infos as editable fields
    name
    surname
    nickname
    login (OR method)
    pwd, old pwd, confirm (if needed from login-method)
    language
    version
    verses (list with delete-option)
    
